.row{style: "margin-top:10px;"}
  .small-2.medium-3.large-4.columns
    &nbsp;&nbsp;&nbsp;
  .small-4.medium-3.large-4.columns
    =link_to "Play the game", game_path(start: true), class: "large button" 
  .small-6.large-4.columns
    &nbsp;&nbsp;&nbsp;
